body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
    padding: 0;
    transition: 0.4s;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ff6b00;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: 0.4s;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    background: #ff6b00;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #e65c00;
}

.mode-btn {
    float: right;
    font-size: 14px;
    padding: 5px 8px;
    background: #222;
    border-radius: 50%;
}



.dark-mode {
    background: #121212;
    color: white;
}

.dark-mode .card {
    background: #1e1e1e;
    color: white;
}
